.body {
    background: linear-gradient(
        to right,
        rgb(231, 231, 244),
        rgb(193, 242, 193)
    );
    background: linear-gradient(to top, rgb(92, 176, 218), rgb(92, 176, 218));
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-image: url('https://cdn.shopify.com/s/files/1/0070/5901/3716/files/coding_background.jpg?v=1688538955'); /* URL slike */
            background-size: cover; /* Omogućava da se slika proporcionalno razvije preko cijele pozadine */
            background-repeat: no-repeat; /* Spriječava ponavljanje slike */
            background-position: center; /* Centrira sliku na pozadinu */
}

.main-content {
    flex: 1;
}

/* Responsive styling */
@media (max-width: 1200px) {
    .body {
        background: linear-gradient(
            to right,
            rgb(231, 231, 244),
            rgb(193, 242, 193)
        );
        background-size: cover;
    }
}

@media (max-width: 768px) {
    .body {
        background: linear-gradient(
            to top,
            rgb(46, 46, 147),
            rgb(193, 242, 193)
        );
        background-size: cover;
    }
}

@media (max-width: 480px) {
    .body {
        background: linear-gradient(
            to top,
            rgb(46, 46, 147),
            rgb(231, 231, 244)
        );
        background-size: cover;
    }
}
